@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;700&display=swap');

.women-main-full-container {
    /* border: 1px solid red; */
    background-color: #f3f3f3;
}

.first-container {
    /* border: 1px solid red; */
    width: 95%;
    margin: 0 auto;
    cursor: pointer;
    height: 650px;
    margin-bottom: 100px;
}

.women-banner-div {
    height: 100%;
    width: 100%;
    background-image: url('https://www.yoox.com/images/yoox80/banners/6895_3_Genz_WM_Main.png?634485886601286852#width=1380&height=637');
    background-repeat: no-repeat;
    background-size: cover;
}

.here-comes-night {
    /* border: 1px red solid; */
    width: 30%;
    background-color: white;
    position: relative;
    bottom: 190px;
    left: 50px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-align: left;
    padding: 8px;
}

.here-comes-night>h2 {
    font-family: Playfair;
}

.here-comes-night p {
    color: rgb(83, 82, 82);
    font-size: 14px;
}

.women-getlook-dis {
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;

}

a {
    text-decoration: none;
    color: black;
}



.designers-container {
    /* border: 1px solid rebeccapurple; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 40% 20% 40%);
    width: 80%;
    justify-content: space-between;
    /* margin-bottom: 100px; */
}

.designers-container>div {
    /* border: 1px solid red; */
}

.designers-container img {
    width: 100%;
}



.designers-list {
    background-color: white;
    position: relative;
    bottom: 50px;
    height: 570px;
    width: 140%;
    right: 20%;
}

.designers-list>h4 {
    font-weight: lighter;
}

.designers-list>div>p {
    /* font-size: 10px; */
    font-weight: bolder;
    color: black;
    font-family: Signika+Negative;

}

.designers-list>div>p:hover {
    color: grey;
    cursor: pointer;
}

.view_all {
    text-decoration: underline;
    margin-top: 60px;
    font-weight: bold;
    color: rgb(34, 33, 33);
}

.view_all:hover {
    color: gray;
}

.women-shop-now {
    font-weight: bolder;
}

.designer-item-div>h2 {
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

.designer-item-div>p {
    font-size: 13px;
    font-weight: lighter;
}

.designer-item-div a {
    text-decoration: underline;
}

.designer-item-div a:hover {
    color: gray;
}

/* ------------- */

.women-crouser-con {
    /* border: 1px solid red; */
    /* display: flex; */
    margin-bottom: 150px;
}

.women-new-arr-div {
    position: relative;
    left: -37%;
    bottom: -300px;
}

.women-new-arr-div>h1 {
    font-size: 30px;
    font-weight: lighter;
}

.women-new-arr-div>a {
    text-decoration: underline;
}





.brands-container {
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 30% 38% 30%);
    gap: 30px;
    font-family: 'Montserrat', sans-serif;
}

.brands-container>div {
    /* border: 1px solid red; */
}

.brands-container img {
    width: 100%;
}

#brands-container-mid {
    position: relative;
    bottom: 50px;
}

.womenn-5th-main-con {
    /* border: 1px solid red; */
    height: auto;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 80% 20%);
}

.Women-sinle-slider-box {
    /* border: 1px solid gold; */
}

.women-its-party-time {
    /* border: 1px solid red; */
    padding: 10px;
    width: 40%;
    position: relative;
    background-color: white;
    left: 30px;
    bottom: 180px;
}

.women-its-party-time>h2 {
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

.last-div {
    /* border: 1px solid green; */
}

.last-con-img-div {
    width: 95%;
    margin: auto;
    height: 650px;
    background-image: url("https://mobile.yoox.com/images/yoox80/banners/6824_1_NewBeginning_W_Main.jpg?634485886601286852#width=1380&height=637");
}

.last-div-item {
    /* border: 1px solid green; */
    width: 30%;
    position: relative;
    bottom: 190px;
    left: 70px;
    background-color: white;
    padding: 10px;
}

.last-div-item>h2 {
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

.women-getlook-dis>a {
    text-decoration: underline;
}

@media screen and (max-width: 820px) {
    .women-main-full-container {
        width: 100%;
        /* border: 1px solid red; */
        /* padding: 0px 10px; */
        background-color: #f3f3f3;
    }

    .navbar-container {
        display: none;
    }

    .here-comes-night {
        /* border: 1px red solid; */
        width: 50%;
        background-color: white;
        position: absolute;
        bottom: 560px;
        left: 60px;

    }

    .designers-container {
        width: 95%;
        /* border: 1px solid green; */
    }

    .designers-list {
        height: 450px;
    }

    .designers-list>.view_all {
        /* border: 1px solid gold; */
        margin: 10px;
    }

    .women-getlook-dis,
    .women-shop-now {
        font-size: 13px;
    }

    .women-crouser-con {
        margin-top: 30px;
        /* border: 1px solid red; */
    }

    .women-new-arr-div {
        position: unset;
    }

    .brands-container {
        /* border: 1px solid red; */
        width: 96%;
        gap: 10px;
    }

    .brands-container img {
        width: 100%;
    }

    .brands-container-item>h2 {
        font-size: 15px;
    }

    .brands-container-item>p {
        font-size: 12px;
    }

    .womenn-5th-main-con {
        width: 95%;
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .womenn-5th-main-con img {
        width: 100%;
    }

    .Women-sinle-slider-box {
        display: none;
    }

    .women-its-party-time {
        position: unset;
        /* width: 100%; */
        background-color: unset;
        margin: auto;
    }

    .last-div-item {
        width: 50%;
        padding: 2px 10px;
        position: unset;
        width: 100%;
    }

}

/* for small screen size */
@media screen and (max-width: 480px) {
    .women-main-full-container {
        /* border: 1px solid red; */
        width: 100%;
        margin: auto;
        /* padding: 0px 10px; */
    }

    .navbar-container {
        display: none;
    }

    .here-comes-night {
        width: 95%;
        /* display: none; */
        position: unset;
        background-color: unset;
    }

    .first-container {
        /* border: 1px solid gold; */
        width: 100%;
        height: auto;
        margin-bottom: 0px;
    }

    .women-banner-div {
        width: 100%;
        /* border: 1px solid red; */
        height: 500px;
        background-image: url("https://cdn.storyasset.link/Z4QpXQXqU8WLfHgyRTMO9eOY4Yp1/ba34ba921ea282873348aa9d3060e739-ms-dicgyjwowz.jpg");
        background-size: cover;
        /* padding: 10px; */
    }

    .women-getlook-dis {
        flex-direction: column;
    }

    .women-getlook-dis a {

        /* border: 1px solid red; */
        margin-bottom: 20px;
    }

    .designers-list {
        display: none;
    }

    .designers-container {
        /* border: 1px solid green; */
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .designers-container img {
        width: 100%;
    }

    .women-new-arr-div {
        margin-bottom: 50px;
    }

    .brands-container {
        width: 100%;
        /* border: 1px solid green; */
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        margin-bottom: 70px;
        background-color: white;
    }

    .brands-container-item>h2 {
        font-size: 30px;
    }

    #brands-container-mid {
        position: unset;

    }

    .women-its-party-time {
        width: 95%;
        /* font-size: 10px; */
    }

    .last-div-item {
        /* border: 1px solid rebeccapurple; */
        position: unset;
        width: 94%;
    }

    .first-container {
        /* border: 1px sold red; */
    }

    /* 

   
    



   

   

    

    .designer-item {
        margin-bottom: 60px;
    }

   

    .brands-container img {
        width: 100%;
    }

    .brands-container-item {
        border: 1px solid rgb(177, 174, 174);
    }

    .women-2nd-slider-con {
        border: 1px solid red;
    }

    .last-con-img-div {
        width: 100%;
        height: 500px;
        border: 1px solid red;
        background-image: url("https://secure.social.yoox.it/yspecial/NATALE/2022/MERGED/2.jpg?v=2");
        background-size: cover;
        background-position: 435px;
    }

    .last-div-item {
        width: 100%;
    } */
}